<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.SEND_SMS"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.Escort"
        tools:targetApi="31">
        <activity
            android:name=".ForgotPin"
            android:exported="false" />
        <activity
            android:name=".ConfirmPin"
            android:exported="false" />
        <activity
            android:name=".CheckPin"
            android:exported="false" />
        <activity
            android:name=".SetPin"
            android:exported="false" />
        <activity
            android:name=".Activity_History"
            android:exported="false" />
        <activity
            android:name=".Phone_Number"
            android:exported="false" />
        <activity
            android:name=".Otp"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.Escort.NoActionBar" />
        <activity
            android:name=".Map"
            android:exported="false" />
        <activity
            android:name=".Changepin"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/mapapi" />
    </application>

</manifest>